.main-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    background: -webkit-linear-gradient(#2B1D66, #CB80A5, #F5F5F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subTitle {
    margin: 0 5%;
    text-align: center;
}

.reference {
    font-size: 0.5rem;
}

.title {
    font-size: 2rem;
}

.link {
    color: #CB80A5;
    cursor: pointer;
    transition: all 0.2s;
}

.link:hover {
    border-bottom: 1px solid #CB80A5;
}

.link:active {
    color: #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}